nav,
header,
main,
aside,
footer,
section {
  background: #fff2ea;
  border: 2px solid #fe6700;
}

nav {
  height: 30px;
}

header,
footer,
aside {
  min-height: 100px;
  min-width: 200px;
}

.home-section {
  background: #fff;
  min-height: 100px;
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "aside main right"
    "footer footer footer";
}
